<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Завершенные матчи</title>
    <link rel="stylesheet" th:href="@{/matches.css}" />
</head>
<body>
<h1>Поиск матчей</h1>
<form action="/matches" method="post">
    <label for="page">Номер страницы:</label>
    <input type="number" id="page" name="page" min="1" th:value="${matchesPage.page}?: 1"><br>
    <label for="pageSize">Количество записей на странице:</label>
    <input type="number" id="pageSize" name="pageSize" min="1" th:value="${matchesPage.pageSize}?: 5"><br>
    <label for="pName">Имя игрока:</label>
    <input type="text" id="pName" name="name" th:value="${name}?: ''"><br>
    <button type="submit">Искать</button>
</form>
<div id="matchesList">
    <table>
        <thead>
        <tr>
            <th>Матч</th>
            <th>Первый игрок</th>
            <th>Второй игрок</th>
            <th>Победитель</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="match : ${matchesPage.matches}">
            <td th:text="${match.id}">id match</td>
            <td th:text="${match.player1.name}">name player1</td>
            <td th:text="${match.player2.name}">name player2</td>
            <td th:if="${match.idWinner == match.player1.id}">
                <span th:text="${match.player1.name}"></span>
            </td>
            <td th:unless="${match.idWinner == match.player1.id}">
                <span th:text="${match.player2.name}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${matchesPage.totalSize}">
        <span>Страницы:</span>
        <th:block th:with="totalPages=${(matchesPage.totalSize + matchesPage.pageSize - 1) / matchesPage.pageSize}">
            <div style="display: flex;">
                <th:block th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                    <form action="/matches" method="post">
                        <input type="hidden" name="name" th:value="${name}">
                        <input type="hidden" name="page" th:value="${pageNumber}">
                        <input type="hidden" name="pageSize" th:value="${matchesPage.pageSize}">
                        <button type="submit" th:text="${pageNumber}"></button>
                    </form>
                </th:block>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>