<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Счёт матча</title>
</head>
<body>
<h2>Счёт матча</h2>
<table border="1">
    <tr>
        <th>Имя игрока</th>
        <th>Счёт по геймам</th>
        <th>Счёт по сетам</th>
    </tr>
    <tr>
        <td th:text="${match.player1.name}">Игрок 1</td>
        <td th:text="${match.gameScorePlayer1}">0</td>
        <td th:text="${match.setScorePlayer1}">0</td>
    </tr>
    <tr>
        <td th:text="${match.player2.name}">Игрок 2</td>
        <td th:text="${match.gameScorePlayer2}">0</td>
        <td th:text="${match.setScorePlayer2}">0</td>
    </tr>
</table>
<br>
<div th:if="${match.idWinner} == null">
    <form action="/match-score" method="post">
        <input type="hidden" name="playerId" th:value="${match.player1.id}">
        <input type="hidden" name="matchId" th:value="${id}">
        <button type="submit">Игрок 1 выиграл текущее очко</button>
    </form>
    <form action="/match-score" method="post">
        <input type="hidden" name="playerId" th:value="${match.player2.id}">
        <input type="hidden" name="matchId" th:value="${id}">
        <button type="submit">Игрок 2 выиграл текущее очко</button>
    </form>
</div>
<div th:if="${match.idWinner} != null">
    <label th:if="${match.idWinner == match.player1.id}" th:text="${'win: ' + match.player1.name}"></label><br>
    <label th:if="${match.idWinner == match.player2.id}" th:text="${'win: ' + match.player2.name}"></label><br>
    <a href="/new-match">Создать новый матч</a><br>
    <a href="/">Вернуться на главную страницу</a>
</div>
</body>
</html>